#id__educacion {
    margin-top: -5%;
    margin-left: 20%;
}
.edu {
    margin-right: 8%;
}

.oracle {
    margin-top: 1%;
    margin-right: 10%;
}

.pol__col {
    margin-bottom: 4%;
}

.sena {
 margin-bottom: 2%;
}