.sect__oculto {
    display: grid;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-right: 0%;
    padding: 1%;
    width: 49rem;
    height: 63%;
    border-radius: 0 0 2rem 2rem;
    background: linear-gradient(70deg, #fefefe, #ffffff);
    background-image: url(../../../assets/gif/gif__perfil/YYe6.gif);
    background-position: left;
    background-position: 50%;
    border: none;

}

.oculto {
    display: none;
}

.copyright {
    display: flex;
    text-align: center;
    color: black;
    font-size: 0.5rem;
    font-weight: bold;
    border: none !important;
    position: fixed;
    top: 32rem;
    right: 26.5rem;
}



